
{{#if error}}
	<div class="alert alert-error">
	{{error}}
	</div>
{{/if}}


<form method="post">
<input type="text" name="username" placeholder="Username">
<input type="password" name="password" placeholder="Password">
<button type="submit">Login</button>
</form>