<p>
Thank you for sharing your code with CFLib.org! To submit your UDF, please read
the guidelines below and send an email to raymondcamden at gmail dot com. Your code will be checked and if accepted, released as soon
as possible. We will try to get to your submission as soon as possible. Sometimes
this means immediately, sometimes it means a few days.
</p>

<h2>Guidelines</h2>

<p>
<ul style="list-style-type:circle">
<li>Your email should include the name of the UDF, the code (or a link to it), and sample code.</li>
<li>Your UDF should not rely on any other UDF.</li>
<li>Your UDF should be a UDF, not a component.</li>
<li>Include the minimum required version of ColdFusion or Railo required for your UDF.</li>
<li>Your sample code should not require a database. If your UDF is query related, use queryNew to create a fake query. Make your sample code as simple as possible.</li>
<li>Each variable used by the UDF that is not passed in MUST be declared in a var statement. We all make mistakes, and if you forget a var statement I'll just fix it. But if it is obvious that you didn't bother to var scope at all, I'll simply delete the submission.</li>
<li>Please do <b>not</b> include comments in the header of your code. We auto-generate code headers. You can, <li>If this is an update, please email me using the address above.</li>
</ul>
</p>
